{% extends "base.html" %}

{% block title %}Главная страница{% endblock %}

{% block content %}
  <div class="container mt-5">
    <h1 class="display-4">Добро пожаловать!</h1>
    <p>- По клику на имя пользователя открывается личный кабинет с возможностью редактирования данных.</p>
    <p>- Меню "Файлы". Загрузка файлов, отображение превью и возможность скачивания. При клике на превью файл открывается на отделькой странице.</p>
    <p>- Меню "Логи". Показывает: дату, http метод, url, status code</p>
  </div>
{% endblock %}
